:root{
  --BookRataNew-color: #0A453B;
  --BookRataNew-buttonHover: #0e5349;
  --Primary: #FAF8F5;
  --Navbar: #d6d8cb;
  --Tier-5: black;
  --Tier-4: #F44336;  
  --Tier-3: #F4A623;
  --Tier-2: #FFF176;
  --Tier-1: #2E7D32;
  --FilterSidebar: #E5E6DF;
}
.book-list {
  width: 100%;
}

.tier-heading {
  margin:  1em 0 1em 0;
  color: #0A453B;
  font-size: 1.75rem;
  font-weight: 600;
}

.book-grid {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
  gap: .6rem;
}

.book-card {
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  width: 9em;
  height: 240px;
  padding: 0.5em .1em .5em .1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.book-card a{
  margin-top: auto;
  font-size: 10px;
  color: var(--BookRataNew-color);
}
.book-card a:hover{
  text-decoration: underline;
  color: var(--BookRataNew-color);
}

.tier-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--BookRataNew-color);
  font-size: 0.8em;
  font-weight: 400;
  border-radius:  0 0 4px 0;
  padding: 0.2em 0.7em;
  z-index: 2;
  cursor: default;
}

.book-cover {
  width: 70%;
  height: 140px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 0.7em;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.book-title {
  font-weight: 700;
  font-size: .7em;
  margin-bottom: 0.2em;
  text-align: center;
}

.book-author {
  font-size: 0.7em;
  color: #555;
  text-align: center;
} 