:root{
    --BookRataNew-color: #0A453B;
    --BookRataNew-buttonHover: #0e5349;
    --Primary: #FAF8F5;
    --Navbar: #d6d8cb;
    --Tier-5: black;
    --Tier-4: #F44336;  
    --Tier-3: #F4A623;
    --Tier-2: #FFF176;
    --Tier-1: #2E7D32;
}

.landing-page-bg {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('/LandingPageBackgrond.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.landing-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-top: 7vh;
  padding-left: 4vw;
  max-width: 900px;
}
.landing-content h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--BookRataNew-color);
}
.landing-content h4 {
  color: var(--BookRataNew-color);
}
h5{
  margin-bottom: 0px !important;
}

.input {
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 25px;
  border-radius: 4px 0 0 4px ;
  max-width: 500px;
  border: none;
}
.input:focus {
  outline: 1.5px solid var(--BookRataNew-color);
  box-shadow: 0 0 2px var(--BookRataNew-color);
}

.free-trial {
  background-color: var(--BookRataNew-color);
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  font-size: 1rem;
  border : none;
  height: 2.5em;
  width: 7em;
  font-weight: 400;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.free-trial:hover {
    background-color: var(--BookRataNew-buttonHover);
    color: white;
    
}
.learn-more {
  background-color: var(--Navbar);
  border: 1px solid var(--BookRataNew-color);
  color: var(--BookRataNew-color);
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  width: 7em;
  font-weight: 400;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.learn-more:hover {
    background-color: var(--BookRataNew-buttonHover);
    color: white;
    
}