:root{
    --BookRataNew-color: #0A453B;
    --BookRataNew-buttonHover: #0e5349;
    --Primary: #FAF8F5;
    --Navbar: #E5E6E0;
    --Tier-5: black;
    --Tier-4: #F44336;  
    --Tier-3: #F4A623;
    --Tier-2: #FFF176;
    --Tier-1: #2E7D32;
}

.login-bg {
  min-height: 90vh;
  min-width: 100vw;
  background: url('/LibraryBackground.jpeg') center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
    background-color: rgba(250, 248, 245, 0.9); /* 0.8 = 80% opaque */
  border-radius: 6px;
  box-shadow: 0 4px 32px rgba(0,0,0,0.10);
  display: flex;
  align-items: flex-start;
  width: 700px;
  max-width: 60vw;
  min-height: 350px;
  margin-top: -10vh;
  overflow: hidden;
}

.login-left, .login-right {
  flex: 1;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.login-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #0A453B;
  margin-bottom: 2rem;
}

.login-label {
  font-weight: 500;
  color: #0A453B;
  margin-bottom: 0.5rem;
}

.login-input {
  border: 1px solid #0A453B;
  border-radius: 2px;
  padding: .5em;
  margin-bottom: 1.3rem;
  font-size: .8rem;
  outline: none;
}
.login-input:focus {
  border-color: var(--BookRataNew-color);
  box-shadow: 0 0 2px rgba(10, 69, 59, 0.5);
}
input::placeholder {
    color: var(--BookRataNew-color); /* light gray */
    opacity: 1;  /* optional: make sure it's not faded */
  }
  

.login-btn {
  background: #0A453B;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: .4em;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  transition: background 0.2s;
}

.login-btn:hover {
  background: #083c33;
}

.login-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #0A453B;
}

.login-link {
    color: #0A453B;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 1.5rem;
    font-size: .9rem;
    font-weight: 500;
    transition: text-decoration 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  
.login-link:hover {
    text-decoration: underline;
    color: var(--BookRataNew-color);

}

.login-signup {
    margin-top: 5em;
    color: var(--BookRataNew-color);
  font-size: .8rem;
  margin-bottom: 0px;
    font-weight: 400;
}
  
.vertical-line {
  width: 1px;
  background-color: var(--BookRataNew-color);
  align-self: stretch;
  margin-top: 1em;
  margin-bottom: 1em;
}
  