:root{
    --BookRataNew-color: #0A453B;
    --Primary: #FAF8F5;
    --Navbar: #E5E6E0;
    --Tier-5: black;
    --Tier-4: #F44336;  
    --Tier-3: #F4A623;
    --Tier-2: #FFF176;
    --Tier-1: #2E7D32;
}